*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  /* ESTRUCTURA CSS */

  nav{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-bottom: 1px solid gray;
    padding-left: 30px;
    padding-right: 30px;
  }

  main{
    height: auto;
    /* background-color: salmon; */
    padding: 15px 30px;
    gap: 10px;
  }
  
  aside{
    height: auto;
    /* background-color: green; */
    display: none;
    padding-left: 40px;
    padding-right: 30px;
  }

  .newsletter{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding-left: 30px;
    padding-right: 30px;
  }

  .newsletter span{
    text-align: center;
  }

  footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* GRÁFICA CSS */

  /* MENÚ */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav {
    display: inline-block;
    margin-left: auto;
    text-align: right;
}

.nav li {
  display: inline;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.input-menu {
    border-radius: 30px;
}

/* NOTICIAS */
.noticia {
  width: 100%;
  display: inline-block;
  /* margin: 5px; */
  cursor: pointer;
}

main img{
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.cuerpo p {
  padding: 10px 0;
}

/* LISTADO IZQUIERDO */
.cabecera-listado {
  /* width: 220px; */
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

.cabecera-listado p {
  margin-top: 15px;
}

.tags {
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

.tags ul {
  margin-top: 15px;
  /* margin-bottom: 15px; */
  margin-left: 35px;
  padding: 0;
  list-style: none;
}

.tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  /* margin-right: 1px; */
  color: white;
  display: inline;
}

.noticias-destacadas {
  /* margin-bottom: 50px; */
  padding: 15px 0;
}

.noticias-destacadas h4 {
  padding: 15px 0;
}

.noticias-destacadas img {
  width: 100%;
  height: auto;
}

/* NEWSLETTER */
.newsletter h2 {
  font-size: 24px
}

.newsletter p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.group input,
.group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;

}

.group button {
  background-color: coral;
  color: white;
}


  /* MEDIA QUERY */
    .col-xs-12 {
    grid-column: span 12
    }
    .col-xs-11 {
    grid-column: span 11;
    }
    .col-xs-10 {
    grid-column: span 10
    }
    .col-xs-9 {
    grid-column: span 9
    }
    .col-xs-8 {
    grid-column: span 8
    }
    .col-xs-7 {
    grid-column: span 7
    }
    .col-xs-6 {
    grid-column: span 6
    }
    .col-xs-5 {
    grid-column: span 5
    }
    .col-xs-4 {
    grid-column: span 4
    }
    .col-xs-3 {
    grid-column: span 3
    }
    .col-xs-2 {
    grid-column: span 2
    }
    .col-xs-1 {
    grid-column: span 1
    }
  
  @media (min-width: 576px) {
    .col-sm-12 {
    grid-column: span 12
    }
    .col-sm-11 {
    grid-column: span 11;
    }
    .col-sm-10 {
    grid-column: span 10
    }
    .col-sm-9 {
    grid-column: span 9
    }
    .col-sm-8 {
    grid-column: span 8
    }
    .col-sm-7 {
    grid-column: span 7
    }
    .col-sm-6 {
    grid-column: span 6
    }
    .col-sm-5 {
    grid-column: span 5
    }
    .col-sm-4 {
    grid-column: span 4
    }
    .col-sm-3 {
    grid-column: span 3
    }
    .col-sm-2 {
    grid-column: span 2
    }
    .col-sm-1 {
    grid-column: span 1
    }
  }
  
  @media (min-width: 992px) {
    aside{
      display: block;
    }
    .col-md-12 {
    grid-column: span 12
    }
    .col-md-11 {
    grid-column: span 11;
    }
    .col-md-10 {
    grid-column: span 10
    }
    .col-md-9 {
    grid-column: span 9
    }
    .col-md-8 {
    grid-column: span 8
    }
    .col-md-7 {
    grid-column: span 7
    }
    .col-md-6 {
    grid-column: span 6
    }
    .col-md-5 {
    grid-column: span 5
    }
    .col-md-4 {
    grid-column: span 4
    }
    .col-md-3 {
    grid-column: span 3
    }
    .col-md-2 {
    grid-column: span 2
    }
    .col-md-1 {
    grid-column: span 1
    }
    main img{
      width: 100%;
      height: auto;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 1200px) {
    .col-lg-12 {
    grid-column: span 12
    }
    .col-lg-11 {
    grid-column: span 11;
    }
    .col-lg-10 {
    grid-column: span 10
    }
    .col-lg-9 {
    grid-column: span 9
    }
    .col-lg-8 {
    grid-column: span 8
    }
    .col-lg-7 {
    grid-column: span 7
    }
    .col-lg-6 {
    grid-column: span 6
    }
    .col-lg-5 {
    grid-column: span 5
    }
    .col-lg-4 {
    grid-column: span 4
    }
    .col-lg-3 {
    grid-column: span 3
    }
    .col-lg-2 {
    grid-column: span 2
    }
    .col-lg-1 {
    grid-column: span 1
    }
  }